<!-- 
<h5> Node Angular Project</h5>
<h4>Template Driven Form (using ngModel)</h4>
<form (ngSubmit)="saveData(myForm)" #myForm='ngForm'>

      <label>Name: 
      <input type="text" name="name" required ngModel>
      </label>
      <br><br>
      <label>Address: 
      <input type="text" name="address" required ngModel>
      </label>
      <br><br>
      <button type="submit" [disabled]="!myForm.valid">Submit Data</button>
    
</form>
<br>

<app-model-driven-form></app-model-driven-form>
<app-model-driven-fb></app-model-driven-fb> 
-->


<mat-card>
  <ng-template #notLogin>
  <mat-toolbar color="background" class="app-header">
    <span class="nav-tool-items">
      <a mat-button routerLink="login" routerLinkActive="active">Log in</a>
      <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Register</a>
    </span>
  </mat-toolbar>
</ng-template>

  <mat-toolbar color="background" class="app-header" *ngIf="currentUser; else notLogin">
    <span class="nav-tool-items">
      <a mat-button mat-raised-button routerLink="/home">Home</a>
      <a mat-button mat-raised-button routerLink="getusers" routerLinkActive="active">Users</a>
      <a mat-button mat-raised-button (click)="logout()">logout</a>
    </span>
    <span>Hi, {{ currentUser[0].username }}</span>
  </mat-toolbar>
</mat-card>

<router-outlet></router-outlet>




 

